A {
  text-decoration: none;
}
A:link {
  color: #3301A4;
}
A:visited {
  color: #3301A4;
}
A:hover {
  color: black;
  background: #eeeeee;
  border: blue;
}
A:active {
  color: blue;
}
body {
  color: #000000;
  background-color: #fefefe;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-left: 0px;
  margin-top: 15px
  margin-width: 0px;
  margin-height: 15px;
}
font {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.error {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  color: red;
  font-weight: normal;
}
td {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
input[type=submit] {
background-color: #3A78AC;
    background-image: -moz-linear-gradient(center top , #62A0D4, #4785B9 55%, #2D6B9F 55%, #19578A);
    border: 1px solid #333333;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.6) inset;
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    top: 9px;
    width: 135px;
}
.bye {
background-color: #EE432E;
    background-image: -moz-linear-gradient(center top , #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
    border: 1px solid #333333;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.6) inset;
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    top: 9px;
    width: 135px;
    margin-top: -10px;
}
.bye A { 
  color:white; 
}
.bye A:hover{
	background: none;
}
